@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Menntavegur 1<br />
    101, Reyjavík Iceland<br />
    <abbr title="Phone">P:</abbr>
    588-5522
</address>

<address>
    <strong>Lead Dev Georg Styrmir Rúnarsson</strong>   <a href="mailto:georg13@ru.is">georg13@ru.is</a><br />
    <strong>Coffeefetcher/Cabana Boy Andri Már Sigurðsson</strong> <a href="mailto:andris13@ru.is">andris13@ru.is</a>
</address>