@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Latest News</h1>
    <p class="lead">WE BRING ZE NEWS!</p>
    <p><a href="http://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-large">MUSIC! &raquo;</a></p>
</div>

<div class="row">
    
</div>