body {
    padding-top: 50px;
    padding-bottom: 20px;
}
 /*This here adds a border and background color to our news items.*/
.col-md-10{
    border:solid 1px rgb(235,235,235);
    border-radius: 6px;
    background-color: rgb(245,245,245);
    padding-bottom: 1em;
    padding-top: 1em; 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/*Making the glyphicon and date/time grey*/
.text-timedate {
    color: gray;
    text-align: right;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 800px;
}
/*Keeping that damn textarea under control*/
textarea{
    max-height: 300px;
}

/* styles for validation helpers */
textarea.input-validation-error {
    border: 1px solid #b94a48;
}

.field-validation-error {
    color: #b94a48 !important;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}